/* add font family Quicksand from Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

/* add box-sizing on universal elemen */
*{
      box-sizing: border-box;
}

/* styling body element font-family Quicksand,set make size margin and padding : 0 */
body{
    font-family: 'Quicksand',sans-serif;
    margin: 0;
    padding: 0;
}

/* add color font for h2 and h3 to light blue */
h2, h3{
    color: #00a2c6;
}

/* add jumbotron */
.jumbotron{
    font-size: 20px;
    padding: 60px;
    background-color: #00c8eb;
    text-align: center;
    color: white;
}

/* add header display inline so that make a navigation is that on browser page  */
header{
    display: inline;
}

/* add background color navigation and postion sticky so that navigarion is at on the browser page*/
nav{
    background-color: #00a2c6;
    padding: 5px;
    position: sticky;
    top: 0;
}

/* set position navigation  */
nav li{
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

/* add font size,weight,color,and decoration for links navigation */
nav a{
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

/* hovering navigation become font bold */
nav a:hover{
    font-weight: bold;
}

/* add padding tags main so easy to readable and overlow auto for id content and main element has normal flow after use float property*/
main{
    padding: 20px;
    overflow: auto;
}

/* add float left with width 75% on id content */
#content {
    float: left;
    width: 75%;
}

/* set featured image width and height */
.featured-image{
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

/* add card in the article */
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0,0,0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

/* add aside element float right with width 25% */
aside{
    float: right;
    width: 25%;
    padding-left: 20px;
}

/* make a aside elemen and id content when use media screen with max width 1000px aside elemen will be under article content */
@media screen and (max-width: 1000px) {
    #content,
    aside {
        width: 100%;
        padding: 0;
    }
}

/* centering header profile  */
.profile header{
    text-align: center;
}

.profile img{
    width: 200px;
}




footer{
    padding: 20px;
    color: white;
    background-color: #00a2c6;
    text-align: center;
    font-weight: bold;
}
